@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Montserrat:wght@500&display=swap');

/* * {
  background-color: #FFFDF8;
} */


body {
  font-family: 'Montserrat', sans-serif !important;

  background-color: #FFFDF8;
  overflow-x: hidden;
}

.outerDiv {
  background-color: #FFFDF8;

}